@layout("../../system/layout.html", {title: ""}){
<table class="form" id="form">
    <tr>
        <td class="formTitle">人员姓名<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="人员姓名" v-model="funPerson.personName" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">人员描述<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="人员描述" v-model="funPerson.personDescription" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">组id<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="组id" v-model="funPerson.groupId" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
</table>
<script src="${ctxPath}/static/js/fun/person/edit.js"></script>
@}